* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*======================================================
 CONFIGURANDO A AREA DO HEADER COM A LOGO E O MENU rgba(2, 2, 2, 0.2);
====================================================== */

header {
    height: 120px;
    background-color: #000;
}

.header {
    max-width: 1140px;
    height: 116px;
    margin: auto;
    display: flex;
    align-items: center;
}


/*ARE DA LOGO*/

.logo {
    width: 135px;
    display: flex;
    flex-direction: column;
}


/*ESTILIZANDO  TAMANHO E COR DA LOGO*/

.logo img {
    width: 130px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
}

.logo p {
    font-weight: bold;
    font-family: Sans-serif;
    color: #FFFF;
    display: flex;
    font-size: 14px;
}

.logo a {
    text-decoration: none;
}


/*======================================================
 inicio menu*/

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}


/*ESTILIZANDO OS ITNES DO MENU*/

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #B28756;
    color: #FFF;
}


/*======================================================
 CONFIGURANDO A AREA DO BANNER
====================================================== */

.galeria {
    width: 100%;
    height: 60vh;
    margin-bottom: 247px;
}

.slider {
    margin: 0px auto;
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
}

.fotos {
    position: absolute;
    width: 100%;
    object-fit: contain;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

@keyframes animacao {
    25% {
        opacity: 1;
        transform: scale(1.1, 1.1);
    }
    50% {
        opacity: 0;
    }
}

.fotos:nth-child(1) {}

.fotos:nth-child(2) {
    animation-delay: 5s;
}

.fotos:nth-child(3) {
    animation-delay: 10s;
}

.fotos:nth-child(4) {
    animation-delay: 15s;
}

.fotos:nth-child(5) {
    animation-delay: 20s;
}


/*======================================================
			AREA DE NOSSOS PRODUTOS
 ======================================================*/

.produtos {
    width: 100%;
    height: 200px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.produtos .section-title,
.produtos .section-desc {
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #1b1a1a;
}

.container-produto {
    width: 100%;
    height: 50px;
}

.carrosel-itens {
    width: 100%;
    display: flex;
    position: relative;
}


/*estilizando os itens do sliders*/

.item {
    margin-top: 10px;
    width: 100px;
    height: 50px;
    position: absolute;
    /*colocando os item com posicao absoluta*/
    right: 100%;
    /*alinhando na lateral esquerda*/
    animation: autoRun 10s linear infinite;
    animation-delay: var(--delay);
    /*pegando a variavel atribuida na div/img*/
}

.item img {
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
}


/*iniciando a animacao. com keyframe*/

@keyframes autoRun {
    /*vem do 100% da esquerda*/
    from {
        right: 100%;
    }
    /*passa para -50px da esquerda da tela*/
    to {
        right: -50px;
    }
}


/*======================================================
			AREA DE NOSSOS SOBRE NOS
 ======================================================*/

.default {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #bbb9b9;
}

.default .section-tile,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-tile {
    font-size: 20px;
}

.default .section-desc {
    font-size: 12px;
    color: #5e5555;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;
}

.section-aboutus {
    display: flex;
    gap: 30px;
}

.section-abautus-left {
    flex: 1;
    margin-top: 50px;
}

.section-abautus-left h1 {
    font-weight: bold;
}

.section-abautus-left p {
    font-size: 14px;
    line-height: 25px;
}

.button {
    display: inline-block;
    background-color: #B28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.section-abautus-right {
    width: 520px;
    text-align: center;
}

.section-abautus-right img {
    border-radius: 10px;
    width: 700px;
    box-shadow: 0px 5px 10px #333;
}

.section-abautus-right p {
    margin-top: 10px;
    margin-left: 30%;
}


/*======================================================
 			AREA DE EVENTOS
 ======================================================*/

.claro {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ebe5e5;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title {
    font-size: 20px;
}

.default .section-desc {
    font-size: 12px;
    color: #757474;
    margin-top: 10px;
    margin-bottom: 40px;
}

.section-eventos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-eventos--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-eventos--photo {
    width: 280px;
}

.section-eventos--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-eventos--photoarea img {
    width: inherit;
    height: inherit;
}

.section-eventos--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.section-eventos--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
}

.section-eventos--photoarea:hover .section-eventos--photoinfo {
    display: flex;
}

.head {
    margin-top: 30px;
    position: absolute;
    text-align: center;
    width: 100%;
    box-shadow: 1px 2px 4px grey;
    background: rgba(2, 2, 2, 0.2);
    position: absolute;
}


/*======================================================
 inicio imagens */

.imagens {
    font-family: Sans-serif;
}

.Eventos {
    font-family: Sans-serif;
}

.sobre {
    text-align: center;
    box-shadow: 1px 2px 4px grey;
    background: rgba(2, 2, 2, 0.2);
    position: absolute;
}

footer {
    margin-top: 25%;
    height: 80px;
    font-family: Sans-serif;
    width: 100%;
    color: red;
    text-align: center;
    box-shadow: 1px 2px 4px grey;
    background: rgba(2, 2, 2, 0.2);
    position: absolute;
}


/*

  <section class="head">
        <!--'h1' representa um estilo de texto padronizado-->
        <h1>Dinastia louge bar</h1>
        <img src="assets/img/logo.png" width="400px">
        <p>Desde 2008 no mercado, 100% nacional Alta tecnologia e qualidade Sabor, leveza e muita fumaça</p>
    </section>

    <!--'section'Fotos-->
    <section class="imagens">
        <h2>Fotos</h2>
        <div>
            <img src="assets/eventos/ambient.jpg" width="300px">
            <img src="assets/eventos/ambient2.jpg" width="300px">
            <img src="assets/eventos/ambient3.jpg" width="300px">
            <img src="assets/eventos/ambient4.jpg" width="300px">
            <img src="assets/eventos/ambient5.jpg" width="300px">
            <img src="assets/eventos/ambient6.jpg" width="200px">

        </div>
    </section>
    <!--'section'eventos-->
    <section class="Eventos">
        <h2>Eventos</h2>
        <p>Baila sounds</p>
        <img src="assets/eventos/evento1.jpg" width="200px">
        <p>Orbital</p>
        <img src="assets/eventos/evento2.jpg" width="200px">
    </section>
    <!--'section'promoções-->

    <!--'section'sobre nos-->
    <section class="sobre">
        <h2>Sobre nos</h2>
        <p>somos um hook bar</p>
        <p>
            <a href="mailto:bboy22dx@gmail.com">bboy22dx@gmail.com</a>
        </p>
        <p>telefone</p>
        <p>
            <a href="tel:61995013159">(61)99501-3159</a>
        </p>
        <div>
            <p> Click na imagem e conheça nossa pagina</p>
            <a href="https://www.facebook.com/david.nilo.543" target="_blank">
                <img src="assets/img/logo.png" width="150px">
            </a>
        </div>
    </section> 

*/